
@{
    ViewBag.Title = "About";
}

<main class="min-h-screen">

    <div class="w-full max-w-6xl mx-auto px-4 md:px-6 py-16" id="myself">
        <div class="flex justify-center">

            <article class="max-w-[40rem] mx-auto">
                <header class="mb-4">
                    <h1 class="text-4xl font-extrabold">Qualche info su di me</h1>
                </header>
                <div class="[&>p]:my-6 [&>p:first-child]:mt-0 [&>p:last-child]:mb-0 [&_strong]:font-medium [&_strong]:text-slate-900 [&_a]:font-medium [&_a]:text-indigo-500 [&_a]:underline [&_a:hover]:no-underline [&_img]:rounded-xl [&_blockquote]:italic [&_blockquote]:before:block [&_blockquote]:before:w-[18px] [&_blockquote]:before:h-[17px] [&_blockquote]:before:bg-[url('./quotes.svg')] [&_blockquote]:before:bg-no-repeat [&_blockquote]:before:mb-2 [&_figcaption]:text-center [&_figcaption]:text-xs [&_figcaption]:italic [&_figcaption]:mt-3">
                    <p>
                        Sono un Fullstack Developer con una forte passione per il cambiamento, l’arte, l’elettronica e l’informatica.
                    </p>
                    <div class="space-y-6 sm:flex sm:items-center sm:space-x-8 sm:space-y-0 md:-ml-12">
                        <figure class="shrink-0 sm:max-w-[270px]">
                            <img class="object-cover h-[180px] sm:h-auto" width="640" height="426" src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Article 01" />
                        </figure>
                        <blockquote>
                            <p>Ho un background in aziende di vario genere: dal logistico, alla grande distribuzione, fino al commerciale. Questo mi ha permesso di acquisire competenze legate alla vendita, al marketing e al posizionamento nel web e quindi di conseguenza nella vita reale.</p>
                        </blockquote>
                    </div>
                    <p>
                        Il mio supporto è rivolto a tutti quei clienti <span class="underline">consapevoli delle proprie potenzialità</span> che vogliono <span class="underline">distinguersi dalla massa.</span>
                        Come web developer baso il mio lavoro sulla creatività, quindi mi impegno a sviluppare siti web che non solo soddisfano le esigenze tecniche, ma anche in grado di catturare l'essenza unica di ogni cliente, con un piano personalizzato e varie revisioni durante tutto il percorso di creazione.
                    </p>
                    <div class="space-y-6 sm:flex sm:items-center sm:space-x-8 sm:space-y-0 md:-mr-12">
                        <p>
                            La mia missione è portare la tua visione online e farla brillare in tutto il suo splendore. La mia esperienza si estende alla creazione di <b>sistemi gestionali, piattaforme di e-commerce e landing page</b> di prima classe. Inoltre posso offrirti un servizio di consulenza esperto per aiutarti a prendere le decisioni giuste per il tuo progetto.
                        </p>
                        <figure class="shrink-0 sm:max-w-[270px]">
                            <img class="object-cover h-[180px] sm:h-auto" width="640" height="426" src="https://cdn.pixabay.com/photo/2016/04/20/08/21/entrepreneur-1340649_1280.jpg" alt="Article 02" />
                        </figure>
                    </div>
                    <blockquote>
                        <p>Se quello che cerchi è distinguerti <span class="underline">ho un’ottima notizia per te.</span></p>
                    </blockquote>
                    <p>
                        Lavorare con me significa collaborare con un esperto che si impegna al massimo per fornire risultati straordinari e soddisfare le tue esigenze. Un'esperienza di sviluppo web che va oltre la semplice codifica.
                        Se sei pronto a trasformare la tua idea in realtà, <b>sono qui per aiutarti a raggiungere i tuoi obiettivi.</b>
                    </p>
                    <figure class="md:-mx-12">
                        <img class="object-cover h-[180px] sm:h-auto" width="736" height="240" src="https://cdn.pixabay.com/photo/2019/01/30/07/45/web-3963945_1280.jpg" alt="Article 03" />
                        <figcaption>Il tuo futuro inizia oggi</figcaption>
                    </figure>
                </div>
            </article>

        </div>
    </div>

    <h2 class="text-center font-extrabold text-3xl mt-8">Di cosa mi occupo</h2>
    <div class="w-full max-w-6xl mx-auto px-4 md:px-6 py-16">

        <!-- Tabs component -->
        <div x-data="{ activeTab: 1 }">

            <!-- Buttons -->
            <div class="flex justify-center">
                <div role="tablist"
                     class="max-[480px]:max-w-[180px] inline-flex flex-wrap justify-center bg-slate-200 rounded-[20px] p-1 mb-8 min-[480px]:mb-12"
                     x-on:keydown.right.prevent.stop="$refs.tabButtons.wrap().next()"
                     x-on:keydown.left.prevent.stop="$refs.tabButtons.wrap().prev()"
                     x-on:keydown.home.prevent.stop="$refs.tabButtons.first()"
                     x-on:keydown.end.prevent.stop="$refs.tabButtons.last()">
                    <!-- Button #1 -->
                    <button id="tab-1"
                            class="flex-1 text-sm font-medium h-8 px-4 rounded-2xl whitespace-nowrap focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150 ease-in-out"
                            :class="activeTab === 1 ? 'bg-white text-slate-900' : 'text-slate-600 hover:text-slate-900'"
                            :tabindex="activeTab === 1 ? 0 : -1"
                            :aria-selected="activeTab === 1"
                            x-on:click="activeTab = 1"
                            x-on:focus="activeTab = 1">
                        Consulenza
                    </button>
                    <!-- Button #2 -->
                    <button id="tab-2"
                            class="flex-1 text-sm font-medium h-8 px-4 rounded-2xl whitespace-nowrap focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150 ease-in-out"
                            :class="activeTab === 2 ? 'bg-white text-slate-900' : 'text-slate-600 hover:text-slate-900'"
                            :tabindex="activeTab === 2 ? 0 : -1"
                            :aria-selected="activeTab === 2"
                            x-on:click="activeTab = 2"
                            x-on:focus="activeTab = 2">
                        Creazione siti web
                    </button>
                    <!-- Button #3 -->
                    <button id="tab-3"
                            class="flex-1 text-sm font-medium h-8 px-4 rounded-2xl whitespace-nowrap focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150 ease-in-out"
                            :class="activeTab === 3 ? 'bg-white text-slate-900' : 'text-slate-600 hover:text-slate-900'"
                            :tabindex="activeTab === 3 ? 0 : -1"
                            :aria-selected="activeTab === 3"
                            x-on:click="activeTab = 3"
                            x-on:focus="activeTab = 3">
                        Linguaggi
                    </button>
                </div>
            </div>

            <!-- Tab panels -->
            <div class="max-w-[640px] mx-auto">
                <div class="relative flex flex-col">

                    <!-- Panel #1 -->
                    <article id="tabpanel-1"
                             class="w-full bg-white rounded-2xl shadow-xl min-[480px]:flex items-stretch focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 border border-slate-200"
                             role="tabpanel"
                             tabindex="0"
                             :aria-labelledby="`tab-${activeTab}`"
                             x-show="activeTab === 1"
                             x-transition:enter="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 transform order-first"
                             x-transition:enter-start="opacity-0 -translate-y-8"
                             x-transition:enter-end="opacity-100 translate-y-0"
                             x-transition:leave="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-300 transform absolute"
                             x-transition:leave-start="opacity-100 translate-y-0"
                             x-transition:leave-end="opacity-0 translate-y-12">
                        <figure class="min-[480px]:w-1/2 p-2">
                            <img class="w-full h-[180px] min-[480px]:h-full object-cover rounded-lg" width="304" height="214" src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Tab 01" />
                        </figure>
                        <div class="min-[480px]:w-1/2 flex flex-col justify-center p-5 pl-3">
                            <div class="flex justify-between mb-1">
                                <header>
                                    <div class="font-caveat text-xl font-medium text-sky-500">One-to-one</div>
                                    <h1 class="text-xl font-bold text-slate-900">Consulenza</h1>
                                </header>
                            </div>
                            <div class="text-slate-500 text-sm mb-2">Una guida esperta e personalizzata per aiutarti a raggiungere i tuoi obiettivi. Attraverso il servizio di consulenza ti fornirò assistenza e analisi per dare un boost alle tue idee e sviluppare strategie di successo.</div>
                        </div>
                    </article>

                    <!-- Panel #2 -->
                    <article id="tabpanel-2"
                             class="w-full bg-white rounded-2xl shadow-xl min-[480px]:flex items-stretch focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 border border-slate-200"
                             role="tabpanel"
                             tabindex="0"
                             :aria-labelledby="`tab-${activeTab}`"
                             x-show="activeTab === 2"
                             x-transition:enter="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 transform order-first"
                             x-transition:enter-start="opacity-0 -translate-y-8"
                             x-transition:enter-end="opacity-100 translate-y-0"
                             x-transition:leave="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-300 transform absolute"
                             x-transition:leave-start="opacity-100 translate-y-0"
                             x-transition:leave-end="opacity-0 translate-y-12">
                        <figure class="min-[480px]:w-1/2 p-2">
                        <img class="w-full h-[180px] min-[480px]:h-full object-cover rounded-lg" width="304" height="214" src="https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Tab 02" />
                    </figure>
                    <div class="min-[480px]:w-1/2 flex flex-col justify-center p-5 pl-3">
                        <div class="flex justify-between mb-1">
                            <header>
                                <div class="font-caveat text-xl font-medium text-sky-500">Percorso completo</div>
                                <h1 class="text-xl font-bold text-slate-900">Creazione siti web</h1>
                            </header>
                        </div>
                        <div class="text-slate-500 text-sm mb-2">La creazione di siti web è come l'arte. Sono appassionato di design, sviluppo e user experience. Il sito web che otterrai non sarà solo bello da vedere, ma anche altamente funzionale e ottimizzato per ottenere risultati tangibili per la tua idea.</div>
                    </div>
                </article>

                <!-- Panel #3 -->
                <article id="tabpanel-3"
                         class="w-full bg-white rounded-2xl shadow-xl min-[480px]:flex items-stretch focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 border border-slate-200"
                         role="tabpanel"
                         tabindex="0"
                         :aria-labelledby="`tab-${activeTab}`"
                         x-show="activeTab === 3"
                         x-transition:enter="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 transform order-first"
                         x-transition:enter-start="opacity-0 -translate-y-8"
                         x-transition:enter-end="opacity-100 translate-y-0"
                         x-transition:leave="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-300 transform absolute"
                         x-transition:leave-start="opacity-100 translate-y-0"
                         x-transition:leave-end="opacity-0 translate-y-12">
                    <figure class="min-[480px]:w-1/2 p-2">
                        <img class="w-full h-[180px] min-[480px]:h-full object-cover rounded-lg" width="304" height="214" src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Tab 03" />
                    </figure>
                    <div class="min-[480px]:w-1/2 flex flex-col justify-center p-5 pl-3">
                        <div class="flex justify-between mb-1">
                            <header>
                                <div class="font-caveat text-xl font-medium text-sky-500">Web a tutto tondo</div>
                                <h1 class="text-xl font-bold text-slate-900">Linguaggi</h1>
                            </header>
                        </div>
                        <div class="text-slate-500 text-sm mb-2">La programmazione è il cuore pulsante della tecnologia moderna. Le mie competenze in Angular, JS, TS, C# e .Net, garantiscono che il tuo software sia efficiente, scalabile e all'avanguardia.</div>
                    </div>
                </article>

            </div>
        </div>

    </div>
    <!-- End: Tabs component -->

</div>
</main>
