@{
    ViewBag.Title = "ModifyPassword";
}


<main class="min-h-screen">

    <div class="flex min-h-screen">

        <!-- Content -->
        <div class="w-1/2 flex flex-col items-center justify-center">

            @if (ViewBag.Password != null)
            {
                <p class="mb-8">@ViewBag.Password</p>
            }

            <div class="w-2/3 m-auto my-12">

                <h1 class="text-3xl font-bold mb-4">Inserisci la nuova password</h1>
                <!-- Form -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="mb-7">
                            @Html.Label("Nuova password", htmlAttributes: new { @class = "text-md font-semibold mx-2" })
                            <div>
                                @Html.TextBox("NewPassword", null, new { @class = "rounded-md p-2 border-2 w-full mt-1", type = "password" })
                            </div>
                        </div>

                        <div>
                            <input type="submit" value="Aggiorna" class="btn bg-slate-200 hover:bg-slate-500 text-black hover:text-white w-full" />
                        </div>

                    </div>
                }

            </div>


        </div>

        <!-- Image -->
        <div class="relative w-1/2" style="background: url(https://cdn.pixabay.com/photo/2018/07/12/21/32/subscribe-3534409_1280.jpg); background-size:cover; background-position:center">
            <img class="absolute" style="top:30%; left: -8%" src="https://preview.cruip.com/mosaic/images/auth-decoration.png" width="218" height="224" alt="Authentication decoration">
        </div>

    </div>

</main>

